---
layout: archive
title: "Research Experience"
permalink: /research/
author_profile: true
---

Theoretical Computer Science Research Interests:
<table>
  <tr>
    <td>
      <ul>
          <li>Design & Analysis of Algorithms</li>
          <li>Graph Theory & its applications</li>
          <li>Approximation & Randomized Algorithms</li>
      </ul>
    </td>
    <td>
      <ul>
          <li>Combinatorial Optimization</li>
          <li>Stochastic & Online Algorithms</li>
          <li>Complexity Theory</li>
      </ul>
    </td>
    <td>
      <ul>
          <li>Data Structures</li>
          <li>Proof Complexity</li>
          <li>Computational Topology & Geometry</li>
      </ul>
    </td>
  </tr>
  </table>

Machine Learning Research Interests:
<table>
  <tr>
    <td>
      <ul>
          <li>Graph Mining</li>
          <li>Graph Neural Networks</li>
          <li>Social Networks Analysis</li>
      </ul>
    </td>
    <td>
      <ul>
          <li>Learning Algorithms</li>
          <li>Optimization Algorithms</li>
          <li>Machine Learning in Healthcare</li>
      </ul>
    </td>
    <td>
      <ul>
          <li>Bayesian & Probabilistic Modeling</li>
          <li>Machine Learning in Software Refactoring</li>
          <li>Theoretical Machine Learning</li>
      </ul>
    </td>
  </tr>
  </table>

{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}
