---
layout: archive
title: "Research Experience"
permalink: /research/
author_profile: true
---

Research Interests:
<table>
  <tr>
    <td>
      <ul>
          <li>Design & Analysis of Algorithms</li>
          <li>Graph Algorithms</li>
      </ul>
    </td>
    <td>
      <ul>
          <li>Algorithmic Game Theory</li>
          <li>Data Mining</li>
      </ul>
    </td>
    <td>
      <ul>
          <li>Machine Learning & Deep Learning</li>
          <li>Community Detection</li>
      </ul>
    </td>
  </tr>
  </table>

{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}
