---
layout: archive
lang: fr-CA
title: "Expérience de recherche"
permalink: /fr/recherche/
author_profile: true
---

Intérêts de recherche :
<table>
  <tr>
    <td>
      <ul>
          <li>Conception et analyse d’algorithmes</li>
          <li>Théorie des graphes et ses applications</li>
          <li>Algorithmes combinatoires</li>
      </ul>
    </td>
    <td>
      <ul>
          <li>Analyse des réseaux sociaux</li>
          <li>Sciences sociales computationnelles</li>
          <li>Réseaux complexes</li>
      </ul>
    </td>
    <td>
      <ul>
          <li>Structures de données et bases de données</li>
          <li>Fouille de graphes</li>
          <li>Apprentissage automatique appliqué</li>
      </ul>
    </td>
  </tr>
</table>

{% include base_path %}

{% for post in site.research reversed %}
  {% if post.lang == 'fr-CA' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
